* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    background-color: #010B19;
    margin: auto;
}


.memory-game {
    width: 640px;
    height: 620px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.memory-card {
    width: calc(24.5%);
    height: calc(33.333% - 40px);
    margin: 5px 5px 5px 5px;
    position: relative;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    -o-transition: transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
}

.memory-card:active {
    -webkit-transform: scale(.97);
    -ms-transform: scale(.97);
    transform: scale(.97);
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    -o-transition: transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;
}

.memory-card.flip {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.front-face,
.back-face {
    width: 100%;
    height: 100%;
    padding: 10px;
    position: absolute;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.front-face {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color:  #010B19;
    top: 0;
    left: 0;
    opacity: 1;
    visibility: visible;
}
.popup__end {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #010B19;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}
.popup__body {
    min-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 10px 10px;
}

.popup__content {
    background-color: white;
    color: black;
    width: 86%;
    max-width: 500px;
    height: 90vh;
    max-height: 600px;
    border-radius: 15px;
    border: 1px solid rgb(255, 255, 255);
}
.start_image {
    border-radius: 15px 15px 0px 0px;
}
.popup__title {
    font-size: 20px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
.popup__text {
    margin-bottom: 20px;
    font-size: 15px;
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
}
.discounts {
    padding-top: 5px;
 }
.discount {
    list-style: none;
    padding-top: 5px;
}
.level__hard {
    width: 60px;
    margin-left: 30px;
    background-color: rgba(194, 194, 194, 0.91);
    color: white;
    border-radius: 5px;
    border: 1px solid white;
    transform: translateY(-2px);
}.level__medium {
    width: 60px;
    margin-left: 30px;
    background-color: rgba(164, 179, 197, 0.91);
    color: white;
    border-radius: 5px;
    border: 1px solid white;
    transform: translateY(-2px);
}.level__easy {
    width: 60px;
    margin-left: 30px;
    background-color: rgba(111, 124, 160, 0.96);
    color: white;
    border-radius: 5px;
    border: 1px solid white;
    transform: translateY(-2px);
}
.play_button {
    margin-top: 0px;
    width: 70%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    text-decoration: none;
    background: linear-gradient(117deg, rgb(140, 197, 250) 0%, rgba(2,124,214,0.7875525210084033) 90%);
    border-radius: 15px;
    border: 2px solid #ffffff;
}
.popup__start {
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 20px;
    padding-bottom: 10px;
}
.play {
    padding-left: 20px;
}

.score__now {
    font-size: 40px;
    padding-top: 50px;
    font-weight: bold;
    color: white;
    transform: translateX(calc(46vw));
    width: 0;
    z-index: 1;
}

.benefit__text,
.prize,
.score {
    font-size: 15pxpx;
    padding-left: 20px;
    padding: 15px;
    background: #a7cfed;
}
.benefit {
    font-size: 20px;
    padding: 15px;
    color: rgb(0, 0, 0);
    background: white;
}
.popup__restart {
    margin-left: 15px;
    color: #dbf0ff;
    font-size: 20px;
}

@media (max-width : 470px) {

    .memory-game {
        width: 640px;
        height: 570px;
        margin: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-perspective: 1000px;
        perspective: 1000px;
        
    }
    .memory-card {
        
        width: calc(33.333% - 4px);
        height: auto;
        margin: 2px;
        position: relative;
    }

    .score__now {
        font-size: 25px;
        height: 20px;
        padding-top: 10px;
        font-weight: bold;
        transform: translateX(calc(39vw));
        color: white;
        width: 0;
        z-index: 1;
    }
}
@media (max-height : 330px), (max-height : 570px) {
    .popup__title {
        font-size: 19px;
        padding-top: 5px;
        padding-left: 13px;
        padding-right: 13px;
        padding-bottom: 13px;
    }
    .popup__text {
        margin-bottom: 15px;
        font-size: 30px;
        padding-top: 0px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .play_button {
        margin-top: 10px;
        height: 40px;
    }
    .popup__start {
        padding-top: 3px;
    }
}
